@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=SUSE:wght@100..800&display=swap');

:root{
    --fg: #131B23;
    --bg: #f8f4f9;
    --ac: #e469d3;

    --rlpad: 15vw;
    --brad: 1.5rem;
    --trans: 250ms;
    --tbmar: 3vh;
}

::selection{
    background: var(--ac);
    color: var(--bg);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: var(--bg);
}

::-webkit-scrollbar-thumb{
    background: var(--fg);
}

.nopc{
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    overflow-x: hidden;
}

*{
    color: var(--fg);
    font-family: 'GABARITO';
}

.content{
    padding: 0 var(--rlpad);
    padding-top: 10vh;
    flex: 1;
}

/* nav */

.nav{
    z-index: 1000;
    width: 100vw;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 0 var(--rlpad);
    background: var(--bg);
}

.nav .links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .links *{
    font-size: 1.3rem;
    text-decoration: none;
}

.nav .links .logo{
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'SUSE';
    color: var(--ac);
    font-weight: 700;
    cursor: pointer;
}

/* footer */

.footer{
    width: 100vw;
    box-sizing: border-box;
    padding: 3vh 0;
    background-color: var(--ac);
}

.footer .flinks{
    gap: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .flinks *{
    color: var(--bg);
    text-decoration: none;
    cursor: pointer;
}

.banner{
    margin: var(--tbmar) 0;
    margin-top: 5vh;
    aspect-ratio: 4;
    width: 100%;
    background-color: var(--ac);
    border-radius: var(--brad);
    overflow: hidden;
    position: relative;
}

.banner .icon{
    position: absolute;
    inset: auto 0% 0% auto;
}

.banner .icon span{
    font-size: 10rem;
    color: var(--bg);
}

.banner .title-text{
    position: absolute;
    inset: 2vw auto auto 2vw;
    color: var(--bg);
    font-weight: 600;
    font-size: 3rem;
}

.banner .bottom-text{
    position: absolute;
    inset: 6vw auto auto 2vw;
    color: var(--bg);
    font-weight: 400;
    font-size: 1.25rem;
}

.benefit-cards{
    margin: var(--tbmar) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.benefit-cards .card{
    flex: 1;
    background: var(--bg);
    border: 2px solid var(--ac);
    box-sizing: border-box;
    padding: 2vh;
    border-radius: var(--brad);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-cards .card .card-icon span{
    font-size: 4rem;
    margin-bottom: 1vh;
}

.benefit-cards .card .card-title, .benefit-cards a .card .card-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1vh;
    text-decoration: none;
}

.benefit-cards .card .card-text, .benefit-cards a .card .card-text{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1vh;
    text-align: center;
    text-decoration: none;
}

.benefit-header{
    font-size: 2.5rem;
    font-weight: 700;
}

.get-started{
    margin: var(--tbmar) 0;
    /* margin-top: 0; */
    position: relative;
    width: 100%;
    margin-bottom: 5vh;
}

.get-started .icon span{
    color: var(--ac);
    position: absolute;
    inset: auto auto 0% 5%;
    transform: scale(-1, 1);
    rotate: 90deg;
    font-size: 20rem;
}

.get-started .box-text{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2vh;
}

.get-started .action-btns{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vh;
}

.get-started .action-btns button{
    box-sizing: border-box;
    padding: 2vh 4vh;
    font-size: 1.5rem;
    color: var(--bg);
    background: var(--ac);
    border-radius: calc(0.5*var(--brad));
    border: none;
    outline: none;
    transition: var(--trans);
    cursor: pointer;
}

.get-started .action-btns button:hover{
    filter: brightness(1.1);
}

/* login form */

.logreg-form{
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    /* background-color: green; */
    aspect-ratio: 0.75; /* revise */
    width: 25%;
}

.logreg-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
    gap: 1vh;
}

.logreg-form .title{
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.logreg-form form label, .logreg-form form input, .logreg-form form button{
    width: 75%;
    box-sizing: border-box;
}

.logreg-form form input, .logreg-form form button{
    padding: 1.5vh 2vh;
    outline: none;
    border-radius: calc(var(--brad)/2);
}

.logreg-form form button{
    margin-top: 2vh;
    border: none;
    background: var(--ac);
    color: var(--bg);
    font-size: 1.3rem;
    cursor: pointer;
}

.logreg-form form input{
    border: 2px solid var(--ac);
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--ac);
}

.logreg-form form label:last-of-type{
    margin-top: 2vh;
}

.logreg-form form label{
    font-size: 1.4rem;
    font-weight: 600;
}

.msg{
    width: 75%;
    margin-bottom: 2vh;
    padding: 1vh 0;
    text-align: center;
    background: lightcoral;
    border: 2px solid #d4040d;
    border-radius: calc(var(--brad)/2);
    color: var(--bg);
    font-weight: 600;
    font-size: 1.1rem;
}

/* rating form */

.rating-form{
    width: 50%;
    margin: 0 auto;
}

.rating-form form{
    display: flex;
    flex-direction: column;
}

.rating-form form .title{
    font-size: 3rem;
}

.rating-form form .subtitle{
    font-size: 2rem;
}

.rating-form form input, .rating-form form textarea{
    resize: none;
    padding: 1vh;
    border-radius: calc(var(--brad)/2);
    border: 2px solid var(--ac);
    color: var(--fg);
    background: transparent;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.rating-form form label{
    margin: 1vh 0;
    font-weight: 600;
    font-size: 1.3rem;
}

.rating-form form button{
    margin-top: 2vh;
    background-color: var(--ac);
    border: none;
    outline: none;
    padding: 1.5vh 0;
    border-radius: calc(var(--brad)/2);
    color: var(--bg);
    font-size: 1.3rem;
    font-weight: 600;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin: 10px 0 16px;
    background: #ddd;
    border-radius: 4px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.rating-form form *{
    box-sizing: border-box;
}

label.checkbox-lbl{
    font-size: 1.1rem !important;
    font-weight: 500 !important;
}

.checkbox-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.checkbox-wrapper .cb{
    display: flex;
    align-items: center;
    gap: .5vh;
}

/* explore page */

#map{
    width: 100%;
    aspect-ratio: 3;
    border-radius: var(--brad);
}

.explore-title{
    font-size: 3rem;
    line-height: 100%;
    margin: 0;
    margin-top: 1vh;
}

.map-tip{
    margin-bottom: 2vh;
}

.stores-list{
    margin: 2vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vh;
}

.stores-list .store{
    border-radius: var(--brad);
    aspect-ratio: 3;
    background: transparent;
    border: 2px solid var(--ac);
    overflow: hidden;
    padding: 2vh;
    box-sizing: border-box;
}

.stores-list a{
    text-decoration: none;
}

.stores-list .store .name{
    font-size: 2rem;
    font-weight: 600;
}
