{% extends "base.html" %}

{% block content %}

<div class="user-profile">
    <div class="banner">
        <div class="title-text">{{name}}</div>
        <div class="bottom-text">{{name}} has 0 ratings</div>
        <div class="icon">
            {% if own %}
                <a href="/logout"><span class="material-symbols-rounded">logout</span></a>
            {% else%}
                <span class="material-symbols-rounded">stars</span>
            {% endif %}
        </div>
    </div>

    <!-- {% if ratings|length > 0 %}
    <h2 class="ratings-header">Ratings on go2klo:</h2>
    <ul class="users-ratings">
        {% for rating in ratings %}
        <li class="rating">
            <a href="/toilet/{{ rating.toilet_id }}"><strong>Toilet #{{ rating.toilet_id }}:</strong></a>
            Cleanliness: {{ rating.cleanliness }},
            Supplies: {{ rating.supplies }},
            Privacy: {{ rating.privacy }},
            Comment: "{{ rating.comment }}"
        </li>
        {% endfor %}
    </ul>
    {% endif %} -->

    <!-- <div id="map"></div>

    <div class="trophy-case-title">Trophy Case</div>

    <div class="trophy-case">
        {% for trophy in achievements %}
        <div class="trophy">
            <img src="{{ url_for('static', filename='icons/' + trophy + '.png') }}">
            <div class="name">{{trophy | replace("_", " ")}}</div>
        </div>
        {% endfor %}
    </div> -->
</div>

{% endblock %}